.nav-filter-select {
    background-color: white;
    color: black;
}

.nav-filter-select {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .nav-search-container {
        bottom: 60px;
        left: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
