html, body {
    background-color: white;
    color: black;
}

.create-event-layout {
    display: flex;
    min-height: 100vh;
}

.create-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 40px 20px;
    background-color: white;
    box-sizing: border-box;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 60px;
}

.form-left {
    display: flex;
    flex-direction: column;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    transition: 0.4s;
}

.form-section label {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.form-section label:hover {
    transform: translateX(2px);
}

.form-section span {
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border-radius: 0;
    border: none;
    font-size: 14px;
    background-color: white;
    color: black;
    border-bottom: 1px solid #ccc;
}

input:hover, textarea:hover {
    border-bottom: 1px solid black;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-bottom: 2px solid black;
    background-color: #fafafa;
}

.publish-btn {
    width: 75%;
    padding: 14px;
    background: black;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.select-wrapper select {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px 4px;
    font-size: 14px;
    appearance: none;
    background: transparent;
    cursor: pointer;
    color: black;
}

.select-wrapper::after {
    content: "▾";
    position: absolute;
    transform: translateX(-100%) translateY(-10%);
    font-size: 28px;
    pointer-events: none;
    color: black;
}

/*publishing tips*/
.tips {
    margin-top: 30px;
    padding: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background: #fafafa;
}
.tips h3{
    margin-bottom: 10px;
    font-size: 16px;
}

.tips ul{
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
    justify-items: left;
}

.tips li{
    font-size: 15px;
      margin-bottom: 6px;
    color: #555;
}


/*from event details css, for the live preview*/
.event-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.event-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0px;
}

.event-info-row {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.event-info-row h3 {
    margin: 0;
    white-space: nowrap;
}

.event-info-row p {
    margin: 0;
    text-align: left;
}

.event-image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.web-link {
    color: #5C2BE2
}

.web-link:hover {
    color: #6d3cf3;
    transform: scale(1.08);
}

.upload-field {
    display: flex;
    flex-direction: column;
    background: #eaeaea;
    padding: 4px;
    border-radius: 8px;
    font-weight: 500;
}

.photo-upload-input:hover {
    transform: translateX(2px);
    background: #fafafa
}

.publish-btn:hover {
    background-color: #222;
    transform: translateY(-1px);
    transform: scale(1.08)
}

.preview-title {
    color: #5C2BE2; /*Shared-GO logo blue/purple*/
    border-radius: 6px;
    padding: 6px 12px;
}

.signin-btn {
    color: white;
    background-color: #5C2BE2; /*Shared-GO logo blue/purple*/
    padding: 4px 8px;
    border-radius: 6px;
}

.signin-btn:hover {
    color: white;
    background-color: #6d3cd3;
}

.signin:hover {
    transform: scale(1.08);
}

.category-badge {
    display: inline-block;
    background: black;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


/* Adjust for portrait/mobile view (responsive design) */
@media (max-width: 768px) {
    .create-event-container {
        min-height: auto;
        justify-content: flex-start;
        padding: 10px;
    }

    .create-event-container:last-child {
        margin-bottom: 60px;
    }

    .create-event-layout {
        flex-direction: column;
    }

    .event-info {
        padding-left: 0;
    }
    
    .event-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }

    .form-section label:last-child {
        margin-bottom: 0;
    }

    textarea {
        margin-bottom: 0;
    }

    .upload-field {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
