.map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-image: url('/public/bristolMap.png');
    background-size: cover;       /* fills screen */
    background-position: centre;  /* centers the map */
    background-repeat: no-repeat;
    
  }

  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevents scrolling completely */
  }

.create-event {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background-color: black;
  color: white;
  padding: 18px 40px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 50px; /*Rounded shape*/
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.create-event:hover {
  transform: translateY(-3px); /*Lifts up slightly*/
  background-color: #222;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.profile-page {
  position: absolute; 
  top: 20px;
  right: 20px;
  z-index: 10; 
}

.profile-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: cover; /*image isn't squashed*/
  border-radius: 8px;
}