#root {
  max-width: 2000px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100%;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*navbar*/
.navbar {
    position: fixed;
    width: 70px;
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 40px;
    flex-direction: column;
    z-index: 2000 !important; /* higher than map */
    overflow: visible !important; /* lets the search bar pop out */
}

.navbar button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.navbar img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.page-content {
  padding-left: 70px;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: white;
    }

    .page-content {
      padding-left: 0px;
    }
}

.search-nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-search-container {
  position: fixed;
  left: 85px; /* How much the search bar comes off the nav bar */
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 15px; /* Spacing between search bar and category select */
  z-index: 2000;
  white-space: nowrap;
}

.nav-search-input, .nav-filter-select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
}

.date-range-group {
  display: flex;
  gap: 12px;
  padding-left: 15px;
  border-left: 1px solid #eee;
}

.date-input-wrapper {
  display: flex;
  flex-direction: column; /*label above the input*/
  gap: 4px;
}

.date-input-wrapper label { /* labels 'from' and 'to */
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #888;
}

.date-input {
  font-size: 12px;
  padding: 5px 8px;
}